<div class="container">
    <h1>
      Hello, my name is William McKinnon.
    </h1>
    <p>
      I am a third year Computer Engineering student at The University of Guelph.
    </p>

    <nav>
      <ul>
        <li>
          <a routerLink="/main/portfolio">Portfolio</a>
        </li>
        <li>
          <a routerLink="/main/projects">Projects</a>
        </li>
        <li>
          <a routerLink="/main/resume">Resume</a>
        </li>
        <li>
          <a routerLink="/main/about">About</a>
        </li>
      </ul>
    </nav>
</div>